$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark_gray: hsl(0, 0%, 55%);
$extra_dark_gray: hsl(0, 0%, 41%);

$mobile: 600;
@mixin mobile {
	@media only screen and (max-width: $mobile * 1px) {
		@content;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include mobile {
		font-size: 60%;
	}
}

body {
	color: $black;
	font-size: 1.5rem;
	overflow-x: hidden;
}

a {
	color: $white;
	font-size: 1.5rem;
	text-decoration: none;
}

a:hover {
	border-bottom: 2px solid white;
	padding-bottom: 3px;
}

.icons img:hover {
	border-bottom: 2px solid white;
	padding-bottom: 3px;
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;

	@include mobile {
		font-size: 2rem;
	}
}

h2 {
	color: $white;
	text-transform: uppercase;
}

.container {
	max-width: 1440px;
	//   min-width: 500px;
	//   width: 1440px;
	margin: 0 auto;
	padding: 0 1.5rem;

	@include mobile {
		max-width: 700px;
		margin: 0 auto;
		padding: 0 1rem;
	}
}

header {
	//   width: 100%;
	height: 100vh;
	position: relative;
	margin-bottom: 5rem;
	@include mobile {
		margin-bottom: 2rem;
	}

	.desk-nav {
		width: 100%;
		display: flex;
		flex: 1;
		align-items: center;
		justify-content: space-between;
		padding: 5rem 0;

		@include mobile {
			flex-direction: column;
			flex-wrap: wrap;
		}

		.logo {
			height: 20px;
			width: 100px;

			@include mobile {
				height: 20px;
				width: 120px;
			}
		}

		.nav-ul {
			display: flex;
			justify-content: space-between;
			list-style-type: none;
			@include mobile {
				margin-top: 1.5rem;
			}

			.nav-li {
				padding: 0 1.5rem;

				a {
					font-size: 1.7rem;
					transition: 0.2s ease-in;
					font-weight: bold;
					@include mobile {
						font-size: 1.7rem;
						font-weight: bold;
					}
				}
			}
		}
	}
}

.hero-overlay {
	width: 400px;
	height: fit-content;
	border: 1px solid $white;
	padding: 4rem 4rem;
	position: absolute;
	bottom: 15rem;
	left: 11rem;
	z-index: 2;

	@include mobile {
		margin: 0 auto;
		bottom: 20rem;
		left: 9rem;
		margin: 1rem 1rem;
	}

	h1 {
		color: $white;
		font-size: 5rem;
	}
}

.mid-section {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;
	position: relative;
	width: 100%;
	@include mobile {
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
	}

	.img-interactive {
		max-width: 800px;
		height: auto;
		z-index: 1;
		padding: 5rem 5rem;
		@include mobile {
			padding: 2rem 2rem;
			position: relative;
			margin-bottom: 21rem;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	.leader-vr {
		max-width: 600px;
		height: auto;
		padding: 5rem 6rem;
		z-index: 2;
		background-color: $white;
		position: absolute;
		top: 26rem;
		left: 65rem;

		@include mobile {
			position: absolute;
			top: 35rem;
			left: 0;
			margin-bottom: 3rem;
		}

		h1 {
			margin-bottom: 3rem;
			color: $black;
		}

		p {
			color: $dark_gray;
			font-size: 2rem;
		}
	}
}

.creation-section {
	.head {
		display: flex;
		flex: 1;
		justify-content: space-between;
		margin-bottom: 5rem;

		h1 {
			font-size: 3rem;
			color: $dark_gray;
		}

		button {
			border: 2px solid $dark_gray;
			outline: none;
			padding: 0.3rem 1rem;
			color: $dark_gray;
			text-transform: uppercase;
			background: transparent;
		}
	}

	.imgs-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		//   grid-template-rows: repeat(3, 1fr);
		//   grid-auto-rows: 1fr 1fr 1fr;
		grid-auto-flow: row;
		//   display: flex;
		//   flex-wrap: wrap;
		gap: 2rem;
		margin: 0 2rem;

		.grid-img {
			position: relative;
			transition: 0.4s ease-out all;
			@include mobile {
				// grid-auto-flow: dense;
				height: 300px;
				overflow: hidden;
			}
			img {
				width: 100%;
				object-fit: contain;
				// height: 300px;
			}

			h2 {
				position: absolute;
				bottom: 2rem;
				left: 3rem;
				text-transform: uppercase;
				font-size: 3rem;
				word-wrap: break-word;
				color: #ffffff9c;
			}
		}

		.grid-img:hover {
			color: black;
			opacity: 0.3;
		}
	}
}

footer {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
	background: $black;
	margin-top: 7rem;
	width: 100%;
	@include mobile {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// padding: 1rem;
		text-align: center;
	}
	.footer-wrap {
		display: flex;
		flex: 1;
		padding: 5rem;
		justify-content: space-between;
		align-items: center;
		width: 1400px;
		//   width: 100%;
		max-width: 1400px;
		// min-width: 500px;
		@include mobile {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1.5rem 0;
			width: 600px;
			text-align: center;
		}

		.footer-left {
			@include mobile {
				text-align: center;
			}
			.footer-nav {
				@include mobile {
					text-align: center;
				}
			}
		}

		.logo {
			height: 20px;
			width: 100px;
		}

		.footer-nav ul {
			display: flex;
			//   justify-content: space-between;
			list-style: none;
			margin-top: 2rem;
			@include mobile {
				margin-bottom: 2rem;
				flex-direction: column;
			}

			//   padding: 1rem 1rem;
			a {
				font-size: 1.7rem;
				color: $white;
				padding-right: 2.5rem;
				@include mobile {
					margin-bottom: 0.5rem;
					display: block;
					font-size: 2rem;
					padding: 1rem;
				}
			}
		}

		.icons img {
			padding-left: 2rem;
			@include mobile {
				padding: 1rem;
			}
		}

		p {
			color: $extra_dark_gray;
			margin-top: 2rem;
		}
	}
}
